<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <div *ngIf="showLogin">
      <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
  
    <div *ngIf="!showLogin">
  
      <ion-item>
        <ion-input type="text" placeholder="Usuario" [(ngModel)]="usuario" value="admin"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="pass" value="11"></ion-input>
      </ion-item>
    </div>
  
    <button ion-button color="primary" full (click)="login()">Ingresar</button>
    <button ion-button color="secondary" full >Registrar</button>
  
  </ion-content>
