page-album1 {
    .foto1{
        background-image: url("../assets/img/vac1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .foto2{
        background-image: url("../assets/img/vac2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .foto3{
        background-image: url("../assets/img/vac3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .foto4{
        background-image: url("../assets/img/vac4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    h1{
        text-align: center;
    }
}
