page-album1 {
    .vac1{
        background-image: url("../assets/img/vac1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .vac2{
        background-image: url("../assets/img/vac2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .vac3{
        background-image: url("../assets/img/vac3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .vac4{
        background-image: url("../assets/img/vac4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    /////////////////////
    .aut1{
        background-image: url("../assets/img/aut1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .aut2{
        background-image: url("../assets/img/aut2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .aut3{
        background-image: url("../assets/img/aut3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .aut4{
        background-image: url("../assets/img/aut4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    ////////////////////
    .mas1{
        background-image: url("../assets/img/masc1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .mas2{
        background-image: url("../assets/img/masc2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .mas3{
        background-image: url("../assets/img/masc3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .mas4{
        background-image: url("../assets/img/masc4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    ///////////////////
    h1{
        text-align: center;
    }
}
