page-album3 {
    .foto1{
        background-image: url("../assets/img/masc1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .foto2{
        background-image: url("../assets/img/masc2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .foto3{
        background-image: url("../assets/img/masc3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
    .foto4{
        background-image: url("../assets/img/masc4.jpg");
        background-position: center;
        background-repeat: no-repeat;
        align-items: stretch;
    }
}
